# Model Training

## 1.1 Import Data and Required Packages

### Importing Pandas, Numpy, Matplotlib, Seaborn and Warnings Libs

In [14]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

#### Import the CSV Data as Pandas DataFrame

In [2]:
df = pd.read_csv('data/stud.csv')
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### Preparing X and Y Variables

In [3]:
X = df.drop(columns=['math_score'], axis=1)
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [4]:
print("Categories in 'gender' variable:     ",end=" " )
print(df['gender'].unique())

print("Categories in 'race_ethnicity' variable:  ",end=" ")
print(df['race_ethnicity'].unique())

print("Categories in'parental level of education' variable:",end=" " )
print(df['parental_level_of_education'].unique())

print("Categories in 'lunch' variable:     ",end=" " )
print(df['lunch'].unique())

print("Categories in 'test preparation course' variable:     ",end=" " )
print(df['test_preparation_course'].unique())

Categories in 'gender' variable:      ['female' 'male']
Categories in 'race_ethnicity' variable:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in'parental level of education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:      ['standard' 'free/reduced']
Categories in 'test preparation course' variable:      ['none' 'completed']

In [5]:
y = df['math_score']
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [10]:
num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include='object').columns

In [11]:
print(f"Numerical features {num_features}")

Numerical features Index(['reading_score', 'writing_score'], dtype='object')

In [8]:
print(f"Categorical features: {cat_features}")

Categorical features: Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course'],
      dtype='object')

In [12]:
# Create column Transformer with 3 types of transformers
num_transformer = StandardScaler()
one_hot_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", one_hot_transformer, cat_features),
        ("StandardScaler", num_transformer, num_features)
    ]
)

In [13]:
X = preprocessor.fit_transform(X)
X.shape

(1000, 19)

In [15]:
# separate dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=44)
X_train.shape, X_test.shape

((800, 19), (200, 19))

#### Create an Evaluate Function to give all metrics after model training

In [16]:
def evaluate_model(actual, predicted):
    mae = mean_absolute_error(actual, predicted)
    mse = mean_squared_error(actual, predicted)
    # rmse = np.sqrt(mean_squared_error(actual, predicted))
    rmse = np.sqrt(mse)
    r2_square = r2_score(actual, predicted)
    return mae, rmse, r2_square

In [17]:
models = {
    "Linear Regression" :LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(),
    "CatBoosting Regressor":CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list = []

In [19]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate train and test dataset
    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 5.3297
- Mean Absolute Error: 4.2291
- R2 Score: 0.8756
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.3176
- Mean Absolute Error: 4.3274
- R2 Score: 0.8797
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 6.5651
- Mean Absolute Error: 5.1784
- R2 Score: 0.8112
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.4349
- Mean Absolute Error: 5.0962
- R2 Score: 0.8238
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 5.3300
- Mean Absolute Error: 4.2282
- R2 Score: 0.8756
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.3149
- Mean Absolute Error: 4.3252
- R2 Score: 0.8798
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 5.8798
- Mean Absolute Error: 4.6702
- R2 Score: 0.8486
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.7391
- Mean Absolute Error: 5.4150
- R2 Score: 0.8068
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.3750
- Mean Absolute Error: 0.0262
- R2 Score: 0.9994
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.8228
- Mean Absolute Error: 6.1875
- R2 Score: 0.7397
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 2.3365
- Mean Absolute Error: 1.8181
- R2 Score: 0.9761
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.6949
- Mean Absolute Error: 4.6337
- R2 Score: 0.8620
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 1.0067
- Mean Absolute Error: 0.6496
- R2 Score: 0.9956
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.2023
- Mean Absolute Error: 5.0393
- R2 Score: 0.8364
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 2.9543
- Mean Absolute Error: 2.3010
- R2 Score: 0.9618
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.6798
- Mean Absolute Error: 4.7011
- R2 Score: 0.8628
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 5.7277
- Mean Absolute Error: 4.6317
- R2 Score: 0.8563
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.0830
- Mean Absolute Error: 4.9488
- R2 Score: 0.8426
===================================

#### Results

In [ ]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values